<div class="container">
    <h1>Lista de compras</h1>

    <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
        <input type="text" id="item" name="item" [(ngModel)]="item" placeholder="Digite o nome do item" />
        <button type="submit">Adicionar</button>
        <button type="button" (click)="limparLista()">Limpar lista</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elemento of lista">
                <td>{{ elemento.id }}</td>
                <td>
                    <span [ngClass]="{ 'item-riscado' : elemento.comprado }">{{ elemento.nome }}</span>
                </td>
                <td>
                    <input type="checkbox" [checked]="elemento.comprado" (click)="riscarItem(elemento)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>